body {
  background: rgb(43, 43, 43);
  background: linear-gradient(90deg, rgba(43, 43, 43, 1) 0%, rgba(107, 107, 107, 1) 35%, rgba(185, 185, 185, 1) 100%);
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
}